# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/src
!.clang-format
!.cmake-format.json
!.gitattributes
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!README.md
!LICENSE*
!*.cmake
!linux-*.sh
!tests/
!tests/**
!docs/
!docs/**

!/lib
!.vscode

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store



# Exclude generated packages
/packages

# Exclude dependency cache (now in build directories)
/.deps
